.heading {
    transition: all 300ms ease-in-out;
}
body {
    background: gray;
}

.heading:hover {
    background: red;
}

a{
    color: darkorange;
}

a:link {
    color: deeppink;
}
a:visited {
    color: deepskyblue;
}
a:hover {
    background: darkslateblue;
    color: white;
    text-decoration: none;
}
input:checked + p {
    background: yellow;
}
#Enviar {
    box-shadow: gray;

}