p::first-letter {
    font-size: 60px;
    display: block;
    float: left;
}
body {
    background-color: gray;
}

p::first-line {
    background: blue;
}

p::selection {
    background: black;
    color: white;
}
::placeholder {
    color: red;
}
