* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
     background: gray;
 }

 .flex-container {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     align-items: flex-start;
     align-content: stretch;
     background: gray;
     height: 640px;
     width: 960px;
 }

 .flex-item {
     width: 33.33%;
     color: white;
     background: red;
    
 }

 .flex-item:nth-child(3) {
     
 }