* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
     background: gray;
 }

 .flex-container {
     display: flex;
     justify-content: space-between;
     background: gray;
 }

 .flex-item {
     width: 100%;
     color: white;
     background: red;
     margin: 10px;
    
 }

