
.main-bg {
    background-image: url(../IMG/main-bg.svg.svg);
    background-size: cover;
    color: var(--white-color);
}

.section {
    min-height: 100vh;
}

.white-bg {
   /* background: var(--white-color);*/
    background: gray;
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.menu-spacing {
    height: 65px;
}